/* CSS RESET STARTS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*::placeholder {
  color: rgba(0, 0, 0, 0.548);
}

a {
  color: rgb(106, 106, 248);
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: #eee;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

/* CSS RESET ENDS */

.container {
  width: 85%;
  margin: 0 auto;
}

.site-background {
  background-image: url('https://i.imgur.com/uvS4Gk3.jpg');
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

/* HEADER RULES STARTS */
#site-header {
  box-shadow: 0px 10px 14px -11px #8f8f8fbe;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625em 0;
}

.nav-logo {
  font-size: 1.8em;
  font-weight: 200;
  text-decoration: none;
  color: #222;
  transition: color 400ms ease;
}

.nav-logo:hover {
  color: #888;
}

.nav-menu-item {
  display: inline-block;
  padding: 0 5px;
}

.nav-menu-item a {
  font-size: 16px;
  text-decoration: none;
  color: #222;
  border-radius: 5px;
  transition: all 400ms ease;
}

.nav-menu-item:hover > a {
  color: #888;
}
/* HEADER RULES ENDS */

/* HERO RULES STARTS */
.hero {
  padding-top: 100px;
}

.hero-caption {
  font-size: 2.3em;
  font-weight: lighter;
  line-height: 1.5;
  color: #444;
}

.hero-tagline {
  margin-top: 50px;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 2;
  color: #f7f3ea;
}

.hero-btn {
  background-color: #fc6341;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 7px 10px;
  transition: all 400ms ease;
}

.hero-btn:hover {
  background-color: #ff795e;
}

.btn--no-outline {
  border: none;
  outline: 0;
}
/* HERO RULES ENDS */

/* SITE FOOTER */
#site-footer {
  position: relative;
}

#site-footer p {
  margin-top: 20px;
  height: 70px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #fc6341;
}
/* END OF FOOTER */

/* FORM STYLES */
.form_wrapper {
  padding: 30px;
  margin: 80px auto;
  width: 350px;
  background: #fff;
  box-shadow: 0 5px 30px -5px #888;
}

.form_wrapper p {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.form_control {
  margin-bottom: 10px;
}

.form_email,
.form_password {
  padding: 10px 5px;
  width: 100%;
  margin-top: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid #888;
  font-size: 14px;
}

.login-button {
  margin-top: 10px;
  background-color: #fc6240;
  border: none;
  outline: none;
  font-size: 1.2em;
  width: 100%;
  padding: 10px;
  transition: background-color 500ms ease;
}

.login-button:hover {
  background: rgb(255, 124, 95);
}
/* END OF FORM STYLES */

.diary-form {
  margin-top: 50px;
}

.form_wrapper span {
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
}

.diary-form-wrapper {
  margin: 20px 0;
}

.diary-form-wrapper-container {
  background: #fcf3a1;
}

.diary-form-wrapper-container {
  box-shadow: 0 10px 30px -10px rgb(110, 110, 110);
}

.diary-title {
  padding: 20px 10px;
  border: none;
  box-shadow: 0 10px 30px -20px rgb(110, 110, 110);
  outline: none;
  font-size: 2em;
  display: block;
  width: 100%;
  background: inherit;
}

.diary-body {
  font-family: inherit;
  margin-top: 10px;
  height: 330px;
  line-height: 2;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  resize: none;
  font-size: 16px;
  background: #fcf3a1;
  border: none;
  outline: none;
}

.diary-date {
  margin-top: 10px;
  height: 40px;
  font-family: inherit;
}

.diary-button {
  margin-top: 10px;
  padding: 10px;
  font-size: 1em;
  border: none;
  outline: none;
  font-family: inherit;
  color: #f7f3ea;
  float: right;
  background-color: #fc6341;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: all 400ms ease;
}

.diary-button:hover {
  background-color: #ff3c10;
}

.diary-post {
  display: flex;
  justify-content: space-between;
}

.diary-header {
  padding: 10px 0;
  font-size: 1.5em;
  color: #ff3c10;
  display: inline-block;
  border-bottom: 1px solid #ff795e;
  font-weight: 200;
}

.diary-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}

.diary-card-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.diary-card {
  width: 32%;
  padding: 15px;
  margin-bottom: 10px;
  background: #999;
}

.diary-card-title {
  font-weight: 300;
  font-size: 2em;
  padding-bottom: 5px;
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 10px;
}

.diary-btn {
  display: block;
  outline: none;
  border: none;
  width: 130px;
  font-size: 20px;
  padding: 5px 14px;
  background-color: #fc6341;
  color: white;
  cursor: pointer;
}

.diary-card-body {
  margin-bottom: 10px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.diary-card-date {
  margin-bottom: 5px;
  padding: 5px 0;
}

.diary-card-view {
  font-size: 14px;
  padding: 5px 10px;
  border: 1px dashed #eee;
}

.diary-card-view a {
  color: #eee;
}

.settings-wrapper {
  margin-top: 30px;
  color: #fff;
  width: 400px;
}

.settings-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #222;
}

.settings-tag {
  font-weight: 300;
  font-size: 0.85em;
  margin-bottom: 2px;
  color: #222;
}

.diary-totals {
  background: #d1d1d1;
  border-radius: 100%;
  padding: 5px 10px;
  color: #fc6240;
}

.view-diary {
  margin-top: 50px;
}

.view-card {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background: #999;
}

.view-card-title {
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 15px;
  text-decoration: underline;
}

.view-card-date {
  font-size: 14px;
  padding: 5px 0;
  margin-bottom: 10px;
  /* background: #000; */
  color: #fff;
}

.view-card-body {
  margin: 10px 0 30px;
}

.view-card-actions {
  display: flex;
  justify-content: space-between;
}

.view-del-btn,
.view-edit-btn {
  color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.view-del-btn {
  border: 1px solid #222;
}

.view-edit-btn {
  background: #fc6240;
}

@media screen and (min-width: 320px) {
  .container {
    width: 90%;
  }
  .nav-logo {
    font-size: 1.1em;
  }

  .nav-menu-item a {
    font-size: 13px;
  }
  .diary-card {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .nav-logo {
    font-size: 1.5em;
  }
  .nav-menu-item a {
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) {
  .diary-card {
    width: 49%;
  }
}

@media screen and (min-width: 960px) {
  .diary-card {
    width: 33%;
  }
}
