/* CSS RESET STARTS */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

*::placeholder {
	color: rgba(0, 0, 0, 0.7);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background: rgb(27, 27, 27);
	/* background: url('/ui/img/hero-bg.jpg') 100%/100% no-repeat fixed; */
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

/* CSS RESET ENDS */

.container {
	width: 70%;
	margin: 0 auto;
}

/* HEADER RULES STARTS */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.625em 0;
}

.nav-logo {
	font-size: 2em;
	font-weight: 200;
	text-decoration: none;
	color: white;
	transition: color 400ms ease;
}

.nav-logo:hover {
	color: #fc6341;
}

.nav-menu-item {
	display: inline-block;
}

.nav-menu-item:hover > a {
	background-color: #ff795e;
}

.nav-menu-item a {
	background-color: #fc6341;
	font-size: 16px;
	text-decoration: none;
	color: white;
	border-radius: 5px;
	padding: 7px 10px;
	font-weight: 300;
	transition: all 400ms ease;
}
/* HEADER RULES ENDS */

/* HERO RULES STARTS */
#site-main {
	margin-bottom: 100px;
}

.hero {
	padding-top: 100px;
}

.hero-caption {
	font-size: 2.7em;
	font-weight: 200;
	color: #f7f3ea;
}

.hero-tagline {
	margin-top: 20px;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 2;
	color: #f7f3ea;
}

.hero-btn {
	background-color: #fc6341;
	text-decoration: none;
	color: white;
	border-radius: 5px;
	padding: 7px 10px;
	transition: all 400ms ease;
}

.hero-btn:hover {
	background-color: #ff795e;
}

.btn--no-outline {
	border: none;
	outline: 0;
}

/* HERO RULES ENDS */

/* SITE FOOTER */
#site-footer {
	display: flex;
	padding: 10px 0 0;
	color: #f7f3ea;
}

#site-footer p {
	text-align: center;
}

.hrule {
	margin: 0 0 10px;
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		rgba(252, 99, 65, 0),
		rgb(252, 99, 65),
		rgba(252, 99, 65, 0)
	);
}

.hrule1 {
	margin: 0 0 10px;
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		rgb(252, 99, 65),
		rgba(252, 99, 65, 0)
	);
}

#site-footer p span {
	position: relative;
	top: 3px;
	font-size: 1.5em;
}
/* END OF FOOTER */

.form_wrapper {
	padding: 30px;
	margin: 30px auto;
	width: 500px;
	background: #fff;
}

.form_wrapper p {
	font-size: 2em;
	margin-bottom: 20px;
	text-align: center;
}

.form_control {
	margin-bottom: 10px;
}

.form_email {
	font-size: 1.2em;
	padding: 10px;
	width: 100%;
	margin-top: 5px;
	border: none;
	outline: none;
	background: rgba(26, 25, 25, 0.2);
}
.form_password {
	font-size: 1.2em;
	padding: 10px;
	width: 100%;
	margin-top: 5px;
	border: none;
	outline: none;
	background: rgba(26, 25, 25, 0.2);
}
.login-button {
	margin-top: 10px;
	background-color: #fc6240;
	border: none;
	outline: none;
	font-size: 1.2em;
	width: 100%;
	padding: 10px;
	transition: background-color 500ms ease;
}

.login-button:hover {
	background: rgb(255, 124, 95);
	/* color: #f7f3ea; */
}

.form_wrapper span {
	/* font-size: 1em; */
	margin-bottom: 20px;
	text-align: center;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.diary-form-wrapper {
	/* background: red; */
	margin-bottom: 20px;
}

.diary-body {
	font-family: inherit;
	margin-top: 10px;
	height: 200px;
	line-height: 2;
	width: 100%;
	max-width: 100%;
	padding: 5px;
	resize: none;
	font-size: 1.5em;
	background: #fcf3a1;
	border: none;
	outline: none;
}
.diary-button {
	padding: 10px;
	font-size: 1em;
	border: none;
	outline: none;
	font-family: inherit;
	background: #fc6240;
	color: #f7f3ea;
	float: right;
}

.dairy-header {
	padding: 10px 0;
	font-size: 1.5em;
	color: #f7f3ea;
	font-weight: 200;
}

.dairy-post-item {
	background: #eeeeee;
	margin-bottom: 5px;
	display: flex;
}

.dairy-post-date,
.dairy-post-content,
.dairy-post-edit {
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 20px;
}

.dairy-post-date {
	background: #2d4059;
	flex: 1;
}
.dairy-post-content {
	background: #fc4;
	flex: 4;
}
.dairy-post-edit {
	flex: 0;
	background: #ddd;
}
.settings-wrapper {
	margin-top: 30px;
	color: #fff;
	width: 400px;
}

.settings-title {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.settings-tag {
	font-weight: 300;
	font-size: 0.85em;
	margin-bottom: 2px;
}
